.pitch-yaw {
    display: flex;
    flex-direction: column;
    width: 210px;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 99;
    background-color: rgba(255, 255, 255, 0.8);
}

.pitch-yaw-text {
    margin: 0.5rem 0;
    padding: 0;
    line-height: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}